<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>
  </head>
  <body>
    <form x-data="{ selected: [] }">
      <p x-text="selected"></p>
      <ul>
        <form action="/group-up" method="post">
          <li>
            {% for transaction_view in leftovers() %}
            <div class="flex">
              <input
                type="checkbox"
                value="'{{ transaction_view.view_id }}'"
                x-model="selected"
              />
              {{ transaction_view | safe }}
            </div>
            {% endfor %}
          </li>
        </form>
      </ul>
    </form>
  </body>
</html>
