<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>
    </head>
    <body>
        <form hx-post="/group-up" hx-swap="innerHTML" class="flex flex-col space-y-4">
            <ul>
                {% for it in leftovers() %}
                    <li class="flex space-x-8">
                        <input :value="'{{ it.0 }}'" type="checkbox" name="'{{it.0}}'"/>
                        {{ it.1 | safe }}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Group up"/>
        </form>
    </body>
</html>
